body {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 400px;
  max-width: 100%;
}

.header {
  color: black;
  text-align: center;
  background-color: white;
  padding-top: 20px;
}

.header h2 {
  margin: 0;
}

.form {
  padding: 30px 40px;
}

.form-control {
  color: white;
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: black;
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  background-color: white;
  border: 2px solid #f0e7e7;
  border-radius: 4px;
  display: block;
  padding: 10px;
  font-size: 14px;
  width: 93%;
}

.form-control.success input {
  border-bottom: #2ecc71;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form button {
  background-color: rgb(82, 82, 226);
  border: 2px solid rgb(156, 156, 223);
  color: white;
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 8px;
}

.error {
  color: orangered;
}
