body {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(107, 66, 66, 0.3);
  overflow: hidden;
  width: 400px;
  max-width: 100%;
  position: relative;
}

.header {
  color: black;
  text-align: center;
  background-color: white;
}

.form {
  padding: 0px 30px;
}

.form-control {
  color: black;
  padding-bottom: 0px;
  margin-bottom: 20px;
  position: relative;
}

input {
  width: 100%;
  padding: 12px 10px;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form button {
  width: 100%;
  background-color: blue;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}
